.dnd-library-wrapper .editor-item .meta.type-instagram {
  background-image: url('icons/insta-small.png');
}
.scald-menu .add-buttons .add-instagram {
  background: url('icons/insta-sidebar.png') 50% 50% no-repeat;
}
.scald-menu .add-buttons .add-instagram:hover {
  background-image: url('icons/insta-sidebar-hover.png');
}
